/** Compiled with File Sass */
body {
  padding: 50px 0 0 0;
  z-index: 0; }

address {
  color: #0F0F0F;
  font-size: 80%;
  margin: 0; }

.row-header {
  margin: 0 auto;
  padding: 0 0; }

.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px solid #D1C4E9;
  /* min-height: 400px; */ }

.footer {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #D1C4E9; }

.navbar-dark {
  background-color: #512DA8; }

.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background-color: #9575CD;
  color: floralwhite; }

.tab-content {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 240px; }
    .carousel .carousel-item img {
      left: 0;
      min-height: 240px;
      position: absolute;
      top: 0; }
  .carousel #carousel-button {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10; }
